body {
   font-family: "Roboto", sans-serif;
}

a:hover {
   transition: box-shadow .5s;
   box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

a {
   font-weight: 400;
   color: #795548;
   border-radius: .15rem;
   font-size: .60em;
   border: none;
   padding: 1em;
   width: 12vw;
   cursor: pointer;
   opacity: 1;
   text-align: center;
   text-decoration: none;
}

a::-moz-focus-inner {
   border: 0;
}

br { line-height: 1.25rem; }

p { color:#795548; }

#center-card {
   width: 90%;
   margin-top: 1.75rem;
   margin-bottom: .75rem;
}

#header-text {
   color: #e0e0e0;
   font-weight: 100;
   text-align: center;
   font-size: 1.75em;
}

a:focus{
   animation: ripple .25s ease;
   outline: 0;
}

a:focus {
   box-shadow: none;
}


@keyframes ripple {
    0%, 100% { opacity: 1; }
    50% { opacity: .5; }
}

.buttons-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0 10vw;
}

.center { margin-left: auto; margin-right: auto; }

.center-card-text { padding: 1rem; }

.center-text { text-align : center; }

.comment { color: grey; font-weight : 700; }

.header { margin-top: 2rem;}

.inline-block { display: inline-block; }

.left-text { text-align : left; }

.pre {
   font-size: .6em;
   font-family: Consolas,monospace;
   color:#795548;
   line-height: 1.25rem;
}

.text-block { margin-bottom: 1rem; }


@media (min-width:361px) {
   #header-text { font-size: 2.25em; }

   .pre {
      font-size: .7em;
   }

   a { font-size: .75em; }
}

@media (min-width: 501px) {
   #header-text { font-size: 2.5em; }

   #center-card { width: 70%; }

   a {
      width: 11vw;
   }

   .buttons-container {
      margin: 0 20vw;
   }
}

@media (min-width: 601px) {
   #header-text { font-size : 3em; }

   #center-card {width: 60%; }

   .button {
      width: 8vw;
   }

   .buttons-container {
      margin: 0 25vw;
   }

}

@media (min-width:801px) {
   #center-card { width: 55%; }

   #header-text { font-size: 3.5em; }

   a {
      width: 10vw;
   }

   .buttons-container {
      margin: 0 27.5vw;
   }

}

@media (min-width:1051px) {
   #center-card { width: 50%; margin-bottom: 1.25em; }

   a { width: 9vw; font-size: .9em; }

   .button {
      width: 7vw;
   }

   .buttons-container {
      margin: 0 30vw;
   }

   .pre { font-size: 1em; line-height: 1.5rem;}
}

@media (min-width:1301px) {
   #center-card { width: 40%; margin-bottom: 1.5em;}

   #header-text { font-size: 3.75em; }

   a { font-size: 1em; width: 8vw; }

   .button {
      width: 5vw;
  }

   .buttons-container {
      margin: 0 32.5vw;
   }
}

@media (min-width: 1501px) {
   br { line-height: 1.75rem; }

   #header-text { font-size: 4.5em; }

   .button { width: 4vw; }

   .buttons-container {
      margin: 0 33vw;
   }

   .pre { font-size: 1.1em; }
}
