p {
   /*
   margin: .5rem 0rem; /* top,bottom left,right */
   */
}

.container {
   font-family: 'Roboto', sans-serif;
   display: flex;
   flex-flow: row nowrap;
}

.child {
  flex: 1 100%;
  padding-bottom: .5rem;
}

.space-between {
   justify:content: flex-start; 
}

.no-space {
   margin: 0;
}

.to-right {
   padding:0rem .5rem;
   margin-left: auto;
}

.to-left {
   padding:0rem; 1rem;
   margin-right: auto;
   margin-left: 1rem;
}

.divider {
   border-right:2px solid #808080;
   position: absolute;
   height:8rem;
   right:50%;
   top:1.5rem;
}

.text-right {
   text-align: right;
}

.clear-left-margin {
   margin-left: 0;
}

.job-title {
   margin: 0;
   margin-left: 2rem;
   font-weight: 500;
   font-style: italic;
}

.job-timespan {
   margin: 0;
   margin-right: 2rem;
}

.job-desc {
   margin: 0;
   margin-left: 2rem;
   margin-bottom: 1rem;
   font-size:1em;
   width:70%;
}

.heading {
   margin: 1rem .5rem; /* top,bottom left,right */
   font-size: 2em;
   font-weight: 300;
}

.text-center {
   text-align: center;
}

.important {
   font-weight: 500;
   font-size: 1em;
}

.some-space {
   padding:1rem 4rem; /* top,bottom left,right */
}

.some-space-top {
   padding-top: 2rem; /* top, right, bottom, left */
}

.some-space-right {
   padding-right:1rem; /* top, right, bottom, left */
}

.item {
   padding-left: 1rem;
   padding-right: 1rem;
}

#resume {
   margin: 1rem auto; /* top&bottom, left&right */
   position: relative;
   width: 65%;
   border-style: solid;
   border-width: 3px;
   border-color: #F0F0F0;
   border-radius: 20px;
}

.contact-info {
   margin-bottom: .5rem;
}

#name {
   font-size: 4em;
   font-weight:100;
   margin-bottom: 0;
}

#name-border {
   margin: 0;
   padding: 0;
   margin-bottom: 1rem;
   margin-left: 2rem;
   margin-right: 2rem;
   position:relative;
   border-bottom-style: solid;
   border-color: #999;
   border-bottom-width: 4px;
}

a {
color: black;
/* border-bottom: 2px dotted #000;
text-decoration: none; */
text-decoration-style: wavy;
}

/* Accommodate 1920 x 1080 devices... Allow for screen stretch */
@media screen and (max-width: 2000px) {
   body {
      font-size: 16px;
   }
}

/* Accommodate slightly stretched MBP 1280 x 800 screens */
@media screen and (max-width: 1360px) {
   body {
      font-size: 12px;
   }

   #resume {
      width: 80%;
   }
}

/* Accommodate 800px wide screens */
@media screen and (max-width: 800px) {
   body {
      font-size: 14px;
   }

   #resume {
      width: 80%;
   }
}
