html, body{
   margin: 0;
   padding: 0;
   border-radius: .5em;
   -webkit-font-smoothing: antialiased;
   font-family: Roboto, Arial;
   margin-bottom: 2rem;
}

html {
   width: 100%;
}

body {
   background-repeat: no-repeat;
   width:100%;
   background-attachment: fixed;
}

a {
   color: inherit;
}

figcaption {
   font-family: monospace;
   text-align: center;
}

hr {
   margin-bottom: 4rem;
}

ol {
   list-style-type: decimal;
   margin-bottom: 2rem;
   margin-left: 2rem;
   list-style-position: inside;
   line-height: 1.75rem;
}

li {
   margin-bottom: 1rem;
}

p {
   padding-bottom: 0rem;
   margin-bottom: 1.5rem;
}

pre {
//   font-family: monospace;
}

table {
   width: 100%;
   margin-bottom: 2rem;
}

td {
   padding-right: 2rem;
}

th {
   padding-right: 1rem;
   font-weight: 800;
}

ul {
   list-style-type: circle;
   margin-bottom: 3rem;
   list-style-position: inside;
}

#--x-axis > path.domain {
   display: none;
}

#--x-axis g.tick > line {
   //display: none;
}

#--x-axis > g > text {
   font-size: 1.5rem;
   font-family: Roboto, Arial;
   //transform: rotate(0deg);
}


#post-title a {
   color: inherit;
   text-decoration: none;
   border-bottom: 1px solid black;
}

#post-container {
   margin: auto;
   padding: 2rem 2rem 0rem 2rem;
   overflow-y: auto;
}

#post-title {
   text-align: center;
   text-decoration-style: solid;
   margin-bottom: 2em;
}

#post-content {
   line-height: 2em;
}

#timeline-nav {
   display: block;
   margin: auto;
}

#timeline-nav-container {
   display:inline-block;
   position: relative;
   vertical-align: top;
   overflow: hidden;
   width: 100%;
}

.emphasis-text {
   font-weight: 400;
}

// Highlight code
.highlight > pre > * {
   font-size: .65rem;
   font-family: Roboto, Arial;
   line-height: 1.2rem;
}

.tooltip {
   padding: 10px 10px 10px 10px;
   position: absolute;
   display: inline-block;
   border-radius: 5px;
   width: 200px;
   max-height: 145vh;
   font-size: .9rem;
   line-height: 1.3rem;
   font-family: Roboto, Arial;
   left: 0px;
   top: 10px;
   overflow-y: hidden;
}

.tooltip > h1 {
   text-align: center;
   font-weight:900;
   margin-bottom: .4rem;
}

@media (min-width:301px) {
   /* smartphones, iPhone, portrait 480x320 phones */
   body {
      font-size: 100%;
      background: -moz-linear-gradient(left, rgb(232,232,255)
      0%,white 10%,white 90%,rgb(232,232,255) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgb(232,232,255)
      0%,white 10%,white 90%,rgb(232,232,255) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgb(247,247,255)
      0%,white 50%,rgb(247,247,255) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#266464ff', endColorstr='#266464ff',GradientType=1 ); /* IE6-9 */
   }

   #post-title a {
      font-weight: 100;
      font-size: 1.5em;
   }

   #post-container {
      width: auto;
   }

   #post-content {
      font-size: .8em;
      font-weight: 400;
   }

   .emphasis-text {
      font-size: 1.3em;
   }

   th {
      font-size: 1em;
   }
}

@media (min-width:401px) {
   /* smartphones, iPhone, portrait 480x320 phones */

   #post-title a {
      font-size: 1.7em;
   }

   #post-container {
      width: auto;
   }

   #post-content {
      font-size: .95em;
      font-weight: 400;
   }

   .emphasis-text {
      font-size: 1.3em;
   }

   th {
      font-size: 1em;
   }
}

@media (min-width:481px) {
   /* smartphones, iPhone, portrait 480x320 phones */

   #post-title a {
      font-weight: 100;
      font-size: 2em;
   }

   #post-container {
      width: auto;
   }

   #post-content {
      font-size: .9em;
      font-weight: 400;
   }

   .emphasis-text {
      font-size: 1.5em;
   }

   th {
      font-size: 1em;
   }

// Highlight code
.highlight > pre > * {
   font-size: .75rem;
}
}

@media (min-width:575px) {
   /* smartphones, iPhone, portrait 480x320 phones */

   #post-title a {
      font-weight: 100;
      font-size: 2em;
   }

   #post-container {
      width: auto;
   }

   #post-content {
      font-size: 1.1em;
      font-weight: 400;
   }

   .emphasis-text {
      font-size: 1.5em;
   }

   th {
      font-size: 1em;
   }

// Highlight code
.highlight > pre > * {
   line-height: 1.25rem;
   font-size: 1rem;
}
}

@media (min-width:669px) {
   /* smartphones, iPhone, portrait 480x320 phones */
   body {
      background: -moz-linear-gradient(left, rgb(232,232,255)
      0%,white 10%,white 90%,rgb(232,232,255) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgb(232,232,255)
      0%,white 10%,white 90%,rgb(232,232,255) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgb(232,232,255)
      0%,white 10%,white 90%,rgb(232,232,255) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#266464ff', endColorstr='#266464ff',GradientType=1 ); /* IE6-9 */
      font-size: 100%;
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#266464ff', endColorstr='#266464ff',GradientType=1 ); /* IE6-9 */
   }

   #post-title a {
      font-weight: 100;
      font-size: 2em;
   }

   #post-container {
      width: 80%;
   }

   #post-content {
      font-size: 1.25em;
      font-weight: 400;
   }

   .emphasis-text {
      font-size: 1.5em;
   }

   th {
      font-size: 1em;
   }

// Highlight code
.highlight > pre > * {
   line-height: 1.8rem;
   font-size: 1.05rem;
}
}

@media (min-width:801px) {
   /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
   body {
      font-size: 100%;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6464ff+0,ffffff+20,ffffff+80,6464ff+100&0.15+0,1+20,1+80,0.15+100 */
      background: -moz-linear-gradient(left, rgb(232,232,255)
      0%,white 20%,white 80%,rgb(232,232,255) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgb(232,232,255)
      0%,white 20%,white 80%,rgb(232,232,255) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgb(232,232,255)
      0%,white 20%,white 80%,rgb(232,232,255) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#266464ff', endColorstr='#266464ff',GradientType=1 ); /* IE6-9 */
   }

   #post-title a {
      font-weight: 100;
      font-size: 2em;
   }

   #post-container {
      width: 70%;
   }

   #post-content {
      font-size: 1.25em;
      font-weight: 400;
   }

   .emphasis-text {
      font-size: 1.5em;
   }

   th {
      font-size: 1em;
   }

   .highlight > pre > * {
      line-height: 1.9rem;
      font-size: 1.1rem;
   }
}

@media (min-width:951px) {
   /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
   body {
      font-size: 100%;
   }

   #post-title a {
      font-weight: 100;
      font-size: 1.5em;
   }

   #post-container {
      width: 60%;
   }

   #post-content {
      font-size: 1.25em;
      font-weight: 400;
   }

   .emphasis-text {
      font-size: 1.5em;
   }

   th {
      font-size: 1em;
   }
}

@media (min-width:1130px) {
   /* tablet, landscape iPad, lo-res laptops ands desktops */
   body {
      font-size: 100%;
   }

   #post-title a {
      font-weight: 100;
      font-size: 2em;
   }

   #post-container {
      width: 60%;
   }

   #post-content {
      font-size: 1.5em;
      font-weight: 400;
   }

   .emphasis-text {
      font-size: 1.5em;
   }

   th {
      font-size: 1em;
   }

   .highlight > pre > * {
      font-size: 1.25rem;
   }
}

@media (min-width:1351px) {
   /* big landscape tablets, laptops, and desktops */
   body {
      font-size: 100%;
   }

   #post-title a {
      font-weight: 100;
      font-size: 2em;
   }

   #post-container {
      width: 50%;
   }

   #post-content {
      font-size: 1.5em;
   }

   .emphasis-text {
      font-size: 1.5em;
   }

   th {
      font-size: 1em;
   }
}


@media (min-width:1601px) {
   /* hi-res laptops and desktops */
   body {
      font-size: 100%;
   }

   #post-title a {
      font-weight: 100;
      font-size: 3em;
   }

   #post-container {
      width: 40%;
   }

   #post-content {
      font-size: 1.4em;
   }

   .emphasis-text {
      font-size: 1.5em;
   }

   th {
      font-size: 1em;
   }
}

@media (min-width:1901px) {
   body {
      font-size: 100%;
   }

   #post-container {
      width: 40%;
   }

   #post-title a {
      font-weight: 100;
      font-size: 4em;
   }

   #post-content {
      font-size: 1.5em;
   }

   .emphasis-text {
      font-size: 1.5em;
   }

   th {
      font-size: 1.5rem;
      text-align: left;
   }

   .highlight > pre > code {
      font-size: 1.25rem;
   }

   .highlight > pre > code  {
      line-height: 2rem;
   }
}
