$post-container-width: 40%;

html, body{
   margin: 0;
   padding: 0;
   // position: fixed;
   //background-color:#ddd;
   border-radius: .5em;
   background: linear-gradient(to right, rgba(100,100,255,.1), white
   .5*(100%-$post-container-width), rgba(200, 200, 200, 0) 50%),
   linear-gradient(to left, rgba(100,100,255,.1), white
   .5*(100%-$post-container-width), rgba(200, 200, 200, 0) 50%);
}

a {
   color: inherit;
   text-decoration: none;
   border-bottom: 1px solid black;
}

h1 {
   font-size: 68px;
   font-weight: 100;
}

#post-title {
   text-align: center;
   text-decoration-style: solid;
   font-family: Roboto;
}

#post-container {
   margin: auto;
   width: $post-container-width;
   padding: 2rem;
   background-color: white;
}

#post-content {
   font-size: 18px;
   font-family: Roboto;
   font-size: 26px;
   line-height: 37px;
}

.post-divider {
   // border-top: solid;
   // border-radius: 1em;
}

p {
   padding-bottom: 0rem;
//   margin-bottom: 0rem;
//   margin-bottom: 3rem;
}

.emphasis-text {
   font-size: 42px;
}

th {
   padding-right: 1rem;
   font-size: 16px;
}

td {
   padding-right: 2rem;
}

table {
   width: 100%
}
