ul {
list-style-type: square;
}

#sidebar {
float: left;
width: 45%;
height: 100%;
border-radius: 1em;
opacity: 1;
transition: 500ms;
position: fixed;
// border-style:solid;
// padding-left: 20%;
}

.title {
text-align: center;
}
