#sidebar {
   float: left;
   //   height: 100%;
   border-radius: 0em;
   opacity: 1;
   transition: 500ms;
   position: fixed;
   color: black;
   background-color: transparent;
   overflow-y: auto;
   width: 24px;
   height: 24px;
   max-height: 50%;
}

#sidebar-button {
   top: 0px;
   right: 0px;
   position: absolute;
   cursor: pointer;
   border-radius: .25rem;
   color: black;
}

#sidebar-content {
   font-size: 1.5rem;
   text-align: center;
   display: none;
}

#sidebar-content > ul  {
   list-style-type: none;
   text-align: center;
   display: inline-block;
   width: 100%;
   margin-bottom: 0;
}

#sidebar-content > ul > li {
   border-bottom: solid grey 2px;
}

#sidebar-content a {
   font-size: 1rem;
   text-decoration: none;
   width: 100%;
   display: block;
   padding: 1rem 0;
   font-family: Roboto, Arial;
}

.material-icons {
   font-size: 2rem;
}

.sidebar-post-title:hover, .sidebar-post-title:focus {
   background-color: #dfe9ff;
}

.title {
   text-align: center;
}
